In [9]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [10]:
engine = create_engine('sqlite:///:memory:', echo=False)

In [11]:
df_train = pd.read_csv('/content/fraudTrain.csv')

In [12]:
df_test = pd.read_csv('/content/fraudTest.csv')

In [13]:
df = df_train.append(df_test)

<ipython-input-13-69c2958a20c4>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df_train.append(df_test)

In [14]:
len(df)

1253256

In [15]:
len(df_train)

697537

In [16]:
len(df_test)

555719

In [17]:
df.head(10)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495.0,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1.325376e+09,36.011293,-82.048315,0.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149.0,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1.325376e+09,49.159047,-118.186462,0.0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154.0,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1.325376e+09,43.150704,-112.154481,0.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939.0,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1.325376e+09,47.034331,-112.561071,0.0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99.0,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1.325376e+09,38.674999,-78.632459,0.0
5,5,2019-01-01 00:04:08,4767265376804500,"fraud_Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,F,4655 David Island,...,40.3750,-75.2045,2158.0,Transport planner,1961-06-19,189a841a0a8ba03058526bcfe566aab5,1.325376e+09,40.653382,-76.152667,0.0
6,6,2019-01-01 00:04:42,30074693890476,fraud_Rowe-Vandervort,grocery_net,44.54,Kelsey,Richards,F,889 Sarah Station Suite 624,...,37.9931,-100.9893,2691.0,Arboriculturist,1993-08-16,83ec1cc84142af6e2acf10c44949e720,1.325376e+09,37.162705,-100.153370,0.0
7,7,2019-01-01 00:05:08,6011360759745864,fraud_Corwin-Collins,gas_transport,71.65,Steven,Williams,M,231 Flores Pass Suite 720,...,38.8432,-78.6003,6018.0,"Designer, multimedia",1947-08-21,6d294ed2cc447d2c71c7171a3d54967c,1.325376e+09,38.948089,-78.540296,0.0
8,8,2019-01-01 00:05:18,4922710831011201,fraud_Herzog Ltd,misc_pos,4.27,Heather,Chase,F,6888 Hicks Stream Suite 954,...,40.3359,-79.6607,1472.0,Public affairs consultant,1941-03-07,fc28024ce480f8ef21a32d64c93a29f5,1.325376e+09,40.351813,-79.958146,0.0
9,9,2019-01-01 00:06:01,2720830304681674,"fraud_Schoen, Kuphal and Nitzsche",grocery_pos,198.39,Melissa,Aguilar,F,21326 Taylor Squares Suite 708,...,36.5220,-87.3490,151785.0,Pathologist,1974-03-28,3b9014ea8fb80bd65de0b1463b00b00e,1.325376e+09,37.179198,-87.485381,0.0

In [18]:
df.drop(columns=["Unnamed: 0","merch_long","merch_lat","trans_num","unix_time",],inplace=True)

In [19]:
df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,28654.0,36.0788,-81.1781,3495.0,"Psychologist, counselling",1988-03-09,0.0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160.0,48.8878,-118.2105,149.0,Special educational needs teacher,1978-06-21,0.0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,83252.0,42.1808,-112.2620,4154.0,Nature conservation officer,1962-01-19,0.0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632.0,46.2306,-112.1138,1939.0,Patent attorney,1967-01-12,0.0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,24433.0,38.4207,-79.4629,99.0,Dance movement psychotherapist,1986-03-28,0.0

In [20]:
df.isnull().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 1
amt                      1
first                    1
last                     1
gender                   1
street                   1
city                     1
state                    1
zip                      1
lat                      1
long                     1
city_pop                 1
job                      1
dob                      1
is_fraud                 1
dtype: int64

In [21]:
df.dropna(inplace=True)

In [22]:
df.isnull().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
is_fraud                 0
dtype: int64

In [23]:
#NULL values have been removed YAY. Lets convert the df into sql

In [24]:
!pip install sqlalchemy pandas

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.23)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# Create an engine that represents the core interface to the database

In [25]:
engine = create_engine('sqlite:///mydatabase.db')  # Creates a mydatabase.db file

# Convert the DataFrame to a SQL table
df.to_sql('transactions', engine, index=False, if_exists='replace')

1253255

#Testing the connection with a query

In [26]:
from sqlalchemy import text

# Example query: Select all records from the `transactions` table
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM transactions limit 10"))
    for row in result:
        print(row)

('2019-01-01 00:00:18', 2703186189652095, 'fraud_Rippin, Kub and Mann', 'misc_net', 4.97, 'Jennifer', 'Banks', 'F', '561 Perry Cove', 'Moravian Falls', 'NC', 28654.0, 36.0788, -81.1781, 3495.0, 'Psychologist, counselling', '1988-03-09', 0.0)
('2019-01-01 00:00:44', 630423337322, 'fraud_Heller, Gutmann and Zieme', 'grocery_pos', 107.23, 'Stephanie', 'Gill', 'F', '43039 Riley Greens Suite 393', 'Orient', 'WA', 99160.0, 48.8878, -118.2105, 149.0, 'Special educational needs teacher', '1978-06-21', 0.0)
('2019-01-01 00:00:51', 38859492057661, 'fraud_Lind-Buckridge', 'entertainment', 220.11, 'Edward', 'Sanchez', 'M', '594 White Dale Suite 530', 'Malad City', 'ID', 83252.0, 42.1808, -112.262, 4154.0, 'Nature conservation officer', '1962-01-19', 0.0)
('2019-01-01 00:01:16', 3534093764340240, 'fraud_Kutch, Hermiston and Farrell', 'gas_transport', 45.0, 'Jeremy', 'White', 'M', '9443 Cynthia Court Apt. 038', 'Boulder', 'MT', 59632.0, 46.2306, -112.1138, 1939.0, 'Patent attorney', '1967-01-12', 0.0)
('2019-01-01 00:03:06', 375534208663984, 'fraud_Keeling-Crist', 'misc_pos', 41.96, 'Tyler', 'Garcia', 'M', '408 Bradley Rest', 'Doe Hill', 'VA', 24433.0, 38.4207, -79.4629, 99.0, 'Dance movement psychotherapist', '1986-03-28', 0.0)
('2019-01-01 00:04:08', 4767265376804500, 'fraud_Stroman, Hudson and Erdman', 'gas_transport', 94.63, 'Jennifer', 'Conner', 'F', '4655 David Island', 'Dublin', 'PA', 18917.0, 40.375, -75.2045, 2158.0, 'Transport planner', '1961-06-19', 0.0)
('2019-01-01 00:04:42', 30074693890476, 'fraud_Rowe-Vandervort', 'grocery_net', 44.54, 'Kelsey', 'Richards', 'F', '889 Sarah Station Suite 624', 'Holcomb', 'KS', 67851.0, 37.9931, -100.9893, 2691.0, 'Arboriculturist', '1993-08-16', 0.0)
('2019-01-01 00:05:08', 6011360759745864, 'fraud_Corwin-Collins', 'gas_transport', 71.65, 'Steven', 'Williams', 'M', '231 Flores Pass Suite 720', 'Edinburg', 'VA', 22824.0, 38.8432, -78.6003, 6018.0, 'Designer, multimedia', '1947-08-21', 0.0)
('2019-01-01 00:05:18', 4922710831011201, 'fraud_Herzog Ltd', 'misc_pos', 4.27, 'Heather', 'Chase', 'F', '6888 Hicks Stream Suite 954', 'Manor', 'PA', 15665.0, 40.3359, -79.6607, 1472.0, 'Public affairs consultant', '1941-03-07', 0.0)
('2019-01-01 00:06:01', 2720830304681674, 'fraud_Schoen, Kuphal and Nitzsche', 'grocery_pos', 198.39, 'Melissa', 'Aguilar', 'F', '21326 Taylor Squares Suite 708', 'Clarksville', 'TN', 37040.0, 36.522, -87.34899999999999, 151785.0, 'Pathologist', '1974-03-28', 0.0)

#Categorising transactions as potentially fraudulent with a CASE statement

In [27]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT trans_date_trans_time, cc_num,amt,first,last,category, CASE WHEN amt > (avg(amt) over(partition by cc_num)) *2 THEN 'Unusually high amount' ELSE 'Normal transaction' END AS transaction_type FROM transactions limit 10"))
    for row in result:
        print(row)

('2019-01-01 12:47:15', 60416207185, 7.27, 'Mary', 'Diaz', 'misc_net', 'Normal transaction')
('2019-01-02 08:44:57', 60416207185, 52.94, 'Mary', 'Diaz', 'gas_transport', 'Normal transaction')
('2019-01-02 08:47:36', 60416207185, 82.08, 'Mary', 'Diaz', 'gas_transport', 'Normal transaction')
('2019-01-02 12:38:14', 60416207185, 34.79, 'Mary', 'Diaz', 'kids_pets', 'Normal transaction')
('2019-01-02 13:10:46', 60416207185, 27.18, 'Mary', 'Diaz', 'home', 'Normal transaction')
('2019-01-03 13:56:35', 60416207185, 6.87, 'Mary', 'Diaz', 'shopping_net', 'Normal transaction')
('2019-01-03 17:05:10', 60416207185, 8.43, 'Mary', 'Diaz', 'food_dining', 'Normal transaction')
('2019-01-04 13:59:55', 60416207185, 117.11, 'Mary', 'Diaz', 'home', 'Normal transaction')
('2019-01-04 21:17:22', 60416207185, 26.74, 'Mary', 'Diaz', 'personal_care', 'Normal transaction')
('2019-01-05 00:42:24', 60416207185, 105.2, 'Mary', 'Diaz', 'grocery_pos', 'Normal transaction')

#Monthly spending trends

#the total amount spent per month for each credit card number

In [31]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT distinct cc_num, strftime('%m', trans_date_trans_time) AS month, SUM(amt) OVER (PARTITION BY cc_num, strftime('%m', trans_date_trans_time)) AS monthly_spending from transactions limit 20"))
    for row in result:
        print(row)

(60416207185, '01', 2410.5399999999995)
(60416207185, '02', 2861.4799999999987)
(60416207185, '03', 6672.739999999996)
(60416207185, '04', 6430.91)
(60416207185, '05', 3543.449999999999)
(60416207185, '06', 11020.8)
(60416207185, '07', 10906.610000000006)
(60416207185, '08', 11836.929999999998)
(60416207185, '09', 8987.730000000001)
(60416207185, '10', 8292.01)
(60416207185, '11', 10206.189999999997)
(60416207185, '12', 10619.240000000003)
(60422928733, '01', 2548.789999999999)
(60422928733, '02', 3345.45)
(60422928733, '03', 4866.010000000001)
(60422928733, '04', 13448.550000000005)
(60422928733, '05', 7281.459999999998)
(60422928733, '06', 7448.589999999998)
(60422928733, '07', 11842.559999999998)
(60422928733, '08', 12798.259999999993)

#Age Group Analysis
#Analyze AVERAGE spending by age group.

In [35]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT age_group, AVG(amt) AS avg_spending, SUM(amt) AS total_spending FROM (SELECT cc_num, amt, CASE WHEN (strftime('%Y', 'now') - strftime('%Y', dob)) BETWEEN 18 AND 25 THEN '18-25' WHEN (strftime('%Y', 'now') - strftime('%Y', dob)) BETWEEN 26 AND 35 THEN '26-35' WHEN (strftime('%Y', 'now') - strftime('%Y', dob)) BETWEEN 36 AND 50 THEN '36-50' ELSE 'Others' END AS age_group FROM transactions) AS age_data GROUP BY age_group"))
    for row in result:
        print(row)

('18-25', 62.93347594162678, 2902303.110000002)
('26-35', 70.27989825371696, 14609082.450000146)
('36-50', 75.02738309451782, 31997453.260000672)
('Others', 66.54357180891628, 38115559.04000097)

#Ranking Merchants by the number of transactions

#This query ranks merchants based on the total number of transactions they have processed using the RANK AND PARTITION BY window functions.

In [37]:

with engine.connect() as connection:
    result = connection.execute(text("SELECT merchant, COUNT(*) OVER (PARTITION BY merchant) AS transaction_count, RANK() OVER (ORDER BY COUNT(*) DESC) AS rank FROM transactions GROUP BY merchant LIMIT 30"))
    for row in result:
        print(row)

('fraud_Abbott-Rogahn', 1, 368)
('fraud_Abbott-Steuber', 1, 456)
('fraud_Abernathy and Sons', 1, 457)
('fraud_Abshire PLC', 1, 308)
('fraud_Adams, Kovacek and Kuhlman', 1, 599)
('fraud_Adams-Barrows', 1, 418)
('fraud_Altenwerth, Cartwright and Koss', 1, 319)
('fraud_Altenwerth-Kilback', 1, 82)
('fraud_Ankunding LLC', 1, 259)
('fraud_Ankunding-Carroll', 1, 672)
('fraud_Armstrong, Walter and Gottlieb', 1, 373)
('fraud_Auer LLC', 1, 310)
('fraud_Auer-Mosciski', 1, 125)
('fraud_Auer-West', 1, 264)
('fraud_Bahringer Group', 1, 492)
('fraud_Bahringer, Bergnaum and Quitzon', 1, 111)
('fraud_Bahringer, Osinski and Block', 1, 410)
('fraud_Bahringer, Schoen and Corkery', 1, 162)
('fraud_Bahringer-Larson', 1, 640)
('fraud_Bahringer-Streich', 1, 454)
('fraud_Bailey-Morar', 1, 132)
('fraud_Balistreri-Nader', 1, 508)
('fraud_Barrows PLC', 1, 186)
('fraud_Bartoletti and Sons', 1, 357)
('fraud_Bartoletti-Wunsch', 1, 13)
('fraud_Barton Inc', 1, 116)
('fraud_Barton LLC', 1, 229)
('fraud_Bashirian Group', 1, 330)
('fraud_Bauch-Blanda', 1, 348)
('fraud_Bauch-Raynor', 1, 63)

#Fraud Trends Over Time
#This query looks at the count of fraudulent transactions on a monthly basis.

In [39]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT strftime('%Y-%m', trans_date_trans_time) AS month,COUNT(*) AS fraud_count FROM transactions WHERE is_fraud = 1 GROUP BY  month ORDER BY  month"))
    for row in result:
        print(row)

('2019-01', 506)
('2019-02', 517)
('2019-03', 494)
('2019-04', 376)
('2019-05', 408)
('2019-06', 354)
('2019-07', 331)
('2019-08', 382)
('2019-09', 418)
('2019-10', 386)
('2020-06', 133)
('2020-07', 321)
('2020-08', 415)
('2020-09', 340)
('2020-10', 384)
('2020-11', 294)
('2020-12', 258)

#Number of fraudulent transactions per category

In [40]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT cc_num,strftime('%Y-%m', trans_date_trans_time) AS month,gender,amt,category,count(*) from transactions where is_fraud=1 group by category"))
    for row in result:
        print(row)

(4859525594182537, '2019-01', 'F', 564.57, 'entertainment', 181)
(4859525594182537, '2019-01', 'F', 95.94, 'food_dining', 134)
(340187018810220, '2019-01', 'F', 11.52, 'gas_transport', 519)
(341546199006537, '2019-01', 'M', 14.37, 'grocery_net', 119)
(4613314721966, '2019-01', 'M', 281.06, 'grocery_pos', 1447)
(341546199006537, '2019-01', 'M', 18.17, 'health_fitness', 127)
(4587577161160601, '2019-01', 'F', 264.35, 'home', 161)
(341546199006537, '2019-01', 'M', 4.58, 'kids_pets', 212)
(4613314721966, '2019-01', 'M', 843.91, 'misc_net', 771)
(341546199006537, '2019-01', 'M', 49.61, 'misc_pos', 213)
(4789911625179723, '2019-01', 'F', 22.22, 'personal_care', 188)
(4613314721966, '2019-01', 'M', 844.8, 'shopping_net', 1448)
(4922710831011201, '2019-01', 'F', 711.66, 'shopping_pos', 682)
(4922710831011201, '2019-01', 'F', 4.5, 'travel', 115)

#Day of Week Analysis
#Analyzing transactions based on the day of the week to see if there are trends in spending or fraud.

In [42]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT CASE strftime('%w', trans_date_trans_time) WHEN '0' THEN 'Sunday' WHEN '1' THEN 'Monday' WHEN '2' THEN 'Tuesday' WHEN '3' THEN 'Wednesday' WHEN '4' THEN 'Thursday' WHEN '5' THEN 'Friday' WHEN '6' THEN 'Saturday' END AS day_of_week, SUM(amt) AS total_spending, COUNT(*) AS fraud_count  FROM transactions WHERE is_fraud = 1 GROUP BY day_of_week ORDER BY strftime('%w', trans_date_trans_time)"))
    for row in result:
        print(row)

('Sunday', 583000.0000000012, 1074)
('Monday', 482636.41999999963, 987)
('Tuesday', 454086.82000000007, 839)
('Wednesday', 398176.71000000025, 738)
('Thursday', 436981.51, 817)
('Friday', 458417.11000000004, 878)
('Saturday', 511532.58999999985, 984)